<!DOCTYPE html>
<html lang="en" ng-app="bacon">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Directives - bacon-ipsum | Angular.cz</title>

    <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  </head>
  <body ng-controller="baconController as bacon" class="container">
    <!-- TODO 1 -->
    <h3>bacon-ipsum</h3>  
  <bacon-ipsum></bacon-ipsum>
  <hr />

    <h3>bacon-ipsum s parametrem paras="2"</h3> 
    <bacon-ipsum paras="2"></bacon-ipsum>
    <hr />

    <h3>bacon-ipsum s parametry paras="3" start-with-lorem</h3> 
    <bacon-ipsum paras="3" start-with-lorem></bacon-ipsum>
    <hr />

    <input ng-model="bacon.title4"/>
    <bacon-ipsum title="{{bacon.title4}}"></bacon-ipsum>
    <hr />

  <script src="/bower_components/angular/angular.js"></script>
  <script src="service.js"></script>
  <script src="app.js"></script>
</body>
</html>