<div class="orders">
  <h3>Objednávky</h3>                        
  <table class="table">
    <tr>
      <th>Id</th>
      <th>Zákazník</th>
      <th>Email</th>      
      <th>Stav</th>
      <th>Akce</th>
    </tr>     
    <tr ng-repeat="order in list.orders" class="status-{{order.status}}">
      <td ng-bind="order.id"></td>
      <td ng-bind="order.name"></td>
      <td>
        {{order.email}}
      </td>  
      <td>
        {{list.statuses[order.status]}}
      </td>
      <td>          
        <a ng-href="#/detail/{{order.id}}">Detail</a>
      </td>
    </tr>
  </table>

  <hr />

  <h3>Zadat zákazníka</h3>

  <form role="form" class="col-md-4">
    <div class="form-group">
      <label>Jméno</label>
      <input type="text" ng-model="list.order.name" class="form-control" />
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="text" ng-model="list.order.email" class="form-control" />
    </div>
    
    <button type="submit" ng-click="list.createNewOrder()" class="btn btn-default">Submit</button>
  </form>
</div>