<h1>Objednávka - {{detail.order.address.name}}</h1>
<h2>Adresa</h2>
<p class="lead">
  {{detail.order.address.name}}, {{detail.order.address.street}}<br />
  {{detail.order.address.zip}} {{detail.order.address.city}} 
</p>
<a href="#/orders">Zpět na seznam</a>