<h1>Objednávka - {{detail.order.address.name}}</h1>
<span class="lead">{{detail.order.address.email}}</span>
<h2>Adresa</h2>
<p class="lead">
  {{detail.order.address.name}}, {{detail.order.address.street}}<br />
  {{detail.order.address.zip}} {{detail.order.address.city}} 
</p>