<!DOCTYPE html>
<html ng-app="directiveApp">
  <head>
    <meta charset="utf-8">
    <title>Directive - 01 | Angular.cz</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <style>
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
      }
    </style>
  </head>
  <body>
    <div  class="container">
      <h1>Poptávka nemovitosti</h1>

      <div class="row well" ng-controller="RealityCtrl as reality">
        <div class="col-sm-6">

          <h2>Druh nemovitosti</h2>        
          <p>
            <label class="radio-inline">
              <input type="radio" ng-model="reality.type" value="ground" />
              Pozemek
            </label>
            <label class="radio-inline">
              <input type="radio" ng-model="reality.type" value="house" />
              Dům
            </label>
            <label class="radio-inline">
              <input type="radio" ng-model="reality.type" value="comercial" />
              Komerční prostory
            </label>        
          </p>

          <div>
            <h2>Parametry pozemku</h2>
            <h4>Velikost</h4>

            <div class="form-inline" role="form">
              <div class="form-group">
                <label >Od
                  <input type="number" class="form-control" ng-model="reality.ground.min">
                </label>
              </div>
              <div class="form-group">
                <label >Do
                  <input type="number" class="form-control" ng-model="reality.ground.max">
                </label>
              </div>
            </div> 
          </div>

          <div>
            <h2>Parametry domu</h2> 
            <div class="form-group form-inline" >
              <label >Počet místností
                <input type="number" class="form-control" ng-model="reality.rooms">
              </label>
            </div>

            <h4>Vlastnosti</h4>

            <label class="checkbox-inline">
              <input type="checkbox" ng-model="reality.properties.new"> Novostavba
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" ng-model="reality.properties.energy"> Nízkoenergetický
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" ng-model="reality.properties.garage"> Garáž
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" ng-model="reality.properties.well"> Studna
            </label>
          </div>

          <h2>Lokalita</h2>

          <div class="row form-inline">
            
            <div class="radio col-md-6" >
            <label>
              <input type="radio" ng-model="reality.location" value="0" />
              Jihomoravský kraj
            </label>
            </div>
            
          </div>

        </div>

        <div class="col-sm-6" ng-controller="InfoCtrl as info">
          <h2>Informace</h2>

          <div class="btn-group">
            <button type="button" class="btn btn-default">O nás</button>
            <button type="button" class="btn btn-default">Reference</button>
            <button type="button" class="btn btn-default">Kontakty</button>
          </div>

          <div>
            <div>
              <h4>O nás</h4>
              Naše kancelář se zabývá prodejem a pronájmem bytů, domů či komerčních prostor, prodejem pozemků i developerských projektů již přes 15 let. Na trhu působíme od roku 1997 a vznikli jsme jako ryze česká společnost bez zahraničního či úvěrového kapitálu. 
            </div>
            <div>
              <h4>Reference</h4>
              <p>Česká národní banka využila opakovaně v letech 2012 a 2013 služeb Vaší realitní kanceláře, pobočky Praha, a to v oblasti pronájmu bytů v majetku ČNB. </p>
            </div>

            <div>
              <h4>Kontakty</h4>
              V případě, že nás budete chtít navštívit v kancelářích přímo v centru Prahy, objednejte se prosím nejdříve telefonicky, aby se Vám mohl plně věnovat konkrétní manažer. Pro naše klienty máme připraveno parkování v podzemní garáži.
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/bower_components/angular/angular.js"></script>
    <script src="app.js"></script>
  </body>
</html>