<!DOCTYPE html>
<html ng-app="filterApp">
  <head>
    <meta charset="utf-8">
    <title>Filter - 02 | Angular.cz</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <style>
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
      }
    </style>
  </head>
  <body ng-cloak>
    <div ng-controller="RealityCtrl as reality" class="container">
      <h1>Výběr města</h1>

      <div class="well">

        <div class="form-inline" role="form">
          <div class="form-group">
            <label >Hledání
              <input type="text" class="form-control" ng-model="reality.search.$">
            </label>
          </div>
          <div class="form-group">
            <label >Name
              <input type="text" class="form-control" ng-model="reality.search.name">
            </label>
          </div>   
          <div class="form-group">
            <label >PSČ
              <input type="text" class="form-control" ng-model="reality.search.psc">
            </label>
          </div>  
          
           <label class="radio-inline">
              <input type="radio" ng-model="reality.order" value="psc" />
              Vzestupně
            </label>
            <label class="radio-inline">
              <input type="radio" ng-model="reality.order" value="-psc" />
              Sestupně
            </label>
        </div> 

        <hr/>
        <div class="row form-inline">
          <div class="radio col-md-4"  ng-repeat="city in reality.cities| filter:reality.search | orderBy: reality.order | limitTo:30">
            <label>
              <input type="radio" ng-model="reality.city" value="{{::city.psc}}" />
              {{::city.name}} - {{::city.psc}}
            </label>
          </div>
        </div>

      </div>
    </div>

    <script src="/bower_components/angular/angular.js"></script>
    <script src="app.js"></script>
  </body>
</html>