<!DOCTYPE html>
<html ng-app="directiveApp">
  <head>
    <meta charset="utf-8">
    <title>Directive - 01 | Angular.cz</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <style>
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
      }
    </style>
  </head>
  <body ng-cloak>
    <div  class="container">
      <h1>Poptávka nemovitosti</h1>

      <div class="row well" ng-controller="RealityCtrl as reality">
        <div class="col-sm-6">

          <h2>Druh nemovitosti</h2>        
          <p>
            <label class="radio-inline">
              <input type="radio" ng-model="reality.type" value="ground" />
              Pozemek
            </label>
            <label class="radio-inline">
              <input type="radio" ng-model="reality.type" value="house" />
              Dům
            </label>
            <label class="radio-inline">
              <input type="radio" ng-model="reality.type" value="comercial" />
              Komerční prostory
            </label>        
          </p>

          <div ng-if="reality.type == 'ground'">
            <h2>Parametry pozemku</h2>
            <h4>Velikost</h4>

            <div class="form-inline" role="form">
              <div class="form-group">
                <label >Od
                  <input type="number" class="form-control" ng-model="reality.ground.min">
                </label>
              </div>
              <div class="form-group">
                <label >Do
                  <input type="number" class="form-control" ng-model="reality.ground.max">
                </label>
              </div>
            </div> 
          </div>

          <div ng-show="reality.type == 'house'">
            <h2>Parametry domu</h2> 
            <div class="form-group form-inline" >
              <label >Počet místností
                <input type="number" class="form-control" ng-model="reality.rooms">
              </label>
            </div>

            <h4>Vlastnosti</h4>

            <label class="checkbox-inline">
              <input type="checkbox" ng-model="reality.properties.new"> Novostavba
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" ng-model="reality.properties.energy"> Nízkoenergetický
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" ng-model="reality.properties.garage"> Garáž
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" ng-model="reality.properties.well"> Studna
            </label>
          </div>

          <h2>Lokalita</h2>

          <div class="row form-inline">
            <div class="radio col-md-6" ng-repeat="locality in reality.localities">
              <label>
                <input type="radio" ng-model="reality.location" value="{{$index}}" />
                {{locality}}
              </label>
            </div>
          </div>

        </div>

        <div class="col-sm-6" ng-controller="InfoCtrl as info" ng-include="'information.html'">

        </div>
      </div>
    </div>

    <script src="/bower_components/angular/angular.js"></script>
    <script src="app.js"></script>
  </body>
</html>