<h2>Informace</h2>

<div class="btn-group">
  <button type="button" ng-class="{'btn-info' : info.isTabActive('about')}" ng-click="info.setTab('about')" class="btn btn-default">O nás</button>
  <button type="button" ng-class="{'btn-info' : info.isTabActive('reference')}" ng-click="info.setTab('reference')" class="btn btn-default">Reference</button>
  <button type="button" ng-class="{'btn-info' : info.isTabActive('contacts')}" ng-click="info.setTab('contacts')" class="btn btn-default">Kontakty</button>
</div>

<div ng-switch="info.getActiveTab()">
  <div ng-switch-when="about">
    <h4>O nás</h4>
    Naše kancelář se zabývá prodejem a pronájmem bytů, domů či komerčních prostor, prodejem pozemků i developerských projektů již přes 15 let. Na trhu působíme od roku 1997 a vznikli jsme jako ryze česká společnost bez zahraničního či úvěrového kapitálu. 
  </div>
  <div ng-switch-when="reference">
    <h4>Reference</h4>
    <p>Česká národní banka využila opakovaně v letech 2012 a 2013 služeb Vaší realitní kanceláře, pobočky Praha, a to v oblasti pronájmu bytů v majetku ČNB. </p>
  </div>
  <div ng-switch-when="contacts">
    <h4>Kontakty</h4>
    V případě, že nás budete chtít navštívit v kancelářích přímo v centru Prahy, objednejte se prosím nejdříve telefonicky, aby se Vám mohl plně věnovat konkrétní manažer. Pro naše klienty máme připraveno parkování v podzemní garáži.
  </div>
</div>