
.well-information {
  height:170px; 
  overflow: auto
}

.information-container {
  position:relative;
}

/*  .type -----------------------*/

.type.ng-enter {
  -webkit-animation: fadeInDown 1.5s;
  -moz-animation: fadeInDown 1.5s;
  -ms-animation: fadeInDown 1.5s;
  -o-animation: fadeInDown 1.5s;
  animation: fadeInDown 1.5s;
}

.type.ng-leave {
  position:absolute;
  top:85px;

  -webkit-animation: fadeOutLeft 0.5s;
  -moz-animation: fadeOutLeft 0.5s;
  -ms-animation: fadeOutLeft 0.5s;
  -o-animation: fadeOutLeft 0.5s;
  animation: fadeOutLeft 0.5s;
}

 /*  .cities ----------------------*/

.cities{
  height:20px;
}

.cities.ng-enter, 
.cities.ng-leave
{ 
  -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
} 

.cities.ng-enter.ng-enter-active, 
.cities.ng-leave {
  opacity: 1;
  top: 0;
  height: 20px;
}

.cities.ng-leave.ng-leave-active,
.cities.ng-enter {
  opacity: 0;
  top: -50px;
  height: 0px;
}

 /*  .information ------------------------------*/

.information {
  width: 100%;
  display: inline-block;
  position: absolute;  
}
.information.ng-enter, 
.information.ng-leave
{ 
  -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
} 

.information.ng-enter {
  left: 100%;
}
.information.ng-enter.ng-enter-active {
  left: 0;
}
.information.ng-leave {
  left: 0;
}
.information.ng-leave.ng-leave-active{
  left: -100%;
}

 /*  .page ------------------*/

.page.ng-leave {
  -webkit-transform-origin: 50% 50%;
  -webkit-animation: leaveView .5s both ease-in;
  -moz-transform-origin: 50% 50%;
  -moz-animation: leaveView .5s both ease-in;
  transform-origin: 50% 50%;
  animation: leaveView .5s both ease-in;
}
.page.ng-enter { 
  -webkit-animation:enterView 0.5s both ease-in;
  -moz-animation:enterView 0.5s both ease-in;
  animation:enterView 0.5s both ease-in;  
}

@keyframes enterView {
  from 	{ transform:translateY(100%); }
  to 		{ transform: translateY(0); }
}
@-moz-keyframes enterView {
  from 	{ -moz-transform:translateY(100%); }
  to 		{ -moz-transform: translateY(0); }
}
@-webkit-keyframes enterView {
  from 	{ -webkit-transform:translateY(100%); }
  to 		{ -webkit-transform: translateY(0); }
}

@-webkit-keyframes leaveView {
  to { -webkit-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@-moz-keyframes leaveView {
  to { -moz-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@keyframes leaveView {
  to { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
