

<div class="row well" ng-controller="RealityCtrl as reality">
  <div class="col-sm-6">

    <h2>Druh nemovitosti</h2>        
    <p>
      <label class="radio-inline">
        <input type="radio" ng-model="reality.type" value="ground" />
        Pozemek
      </label>
      <label class="radio-inline">
        <input type="radio" ng-model="reality.type" value="house" />
        Dům
      </label>
      <label class="radio-inline">
        <input type="radio" ng-model="reality.type" value="comercial" />
        Komerční prostory
      </label>        
    </p>

    <div ng-if="reality.type == 'ground'">
      <h2>Parametry pozemku</h2>
      <h4>Velikost</h4>

      <div class="form-inline" role="form">
        <div class="form-group">
          <label >Od
            <input type="number" class="form-control" ng-model="reality.ground.min">
          </label>
        </div>
        <div class="form-group">
          <label >Do
            <input type="number" class="form-control" ng-model="reality.ground.max">
          </label>
        </div>
      </div> 
    </div>

    <div ng-if="reality.type == 'house'">
      <h2>Parametry domu</h2> 
      <div class="form-group form-inline" >
        <label >Počet místností
          <input type="number" class="form-control" ng-model="reality.rooms">
        </label>
      </div>

      <h4>Vlastnosti</h4>

      <label class="checkbox-inline">
        <input type="checkbox" ng-model="reality.properties.new"> Novostavba
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="reality.properties.energy"> Nízkoenergetický
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="reality.properties.garage"> Garáž
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="reality.properties.well"> Studna
      </label>
    </div>

    <h2>Lokalita</h2>

    <input type="text" class="form-control" ng-model="reality.search" />

    <div class="well">
      <ul class="nav nav-pills nav-stacked">
        
       <li ng-repeat="locality in reality.localities| filter:reality.search">
          <label class="radio-inline">
            <input type="radio" ng-model="reality.locality" value="{{locality}}"/>
            {{locality}}
          </label>
        </li>
        
     </ul>
    </div>
    
    <a ng-href="#/sent" class="btn btn-primary">Odeslat</a>
  </div>

  <div class="col-sm-6" ng-controller="InfoCtrl as info">
    <h2>Informace</h2>

    <div class="btn-group">
      <button type="button" ng-class="{'btn-info' : info.isTabActive('about')}" ng-click="info.setTab('about')" class="btn btn-default">O nás</button>
      <button type="button" ng-class="{'btn-info' : info.isTabActive('reference')}" ng-click="info.setTab('reference')" class="btn btn-default">Reference</button>
      <button type="button" ng-class="{'btn-info' : info.isTabActive('contacts')}" ng-click="info.setTab('contacts')" class="btn btn-default">Kontakty</button>
    </div>

    <div class="well well-information" >
      <div ng-switch="info.getActiveTab()" class="information-container">
        <div ng-switch-when="about">
          <h4>O nás</h4>
          Naše kancelář se zabývá prodejem a pronájmem bytů, domů či komerčních prostor, prodejem pozemků i developerských projektů již přes 15 let. Na trhu působíme od roku 1997 a vznikli jsme jako ryze česká společnost bez zahraničního či úvěrového kapitálu. 
        </div>
        <div ng-switch-when="reference">
          <h4>Reference</h4>
          <p>Česká národní banka využila opakovaně v letech 2012 a 2013 služeb Vaší realitní kanceláře, pobočky Praha, a to v oblasti pronájmu bytů v majetku ČNB. </p>
        </div>
        <div ng-switch-when="contacts">
          <h4>Kontakty</h4>
          V případě, že nás budete chtít navštívit v kancelářích přímo v centru Prahy, objednejte se prosím nejdříve telefonicky, aby se Vám mohl plně věnovat konkrétní manažer. Pro naše klienty máme připraveno parkování v podzemní garáži.
        </div>
      </div>
    </div>

  </div>
</div>