<!DOCTYPE html>
<html ng-app="filterApp">
  <head>
    <meta charset="utf-8">
    <title>Filter 01 | Angular.cz</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
  </head>
  <body>
    <div ng-controller="FilterCtrl as filter" class="container col-md-offset-3 col-md-6">
      <h1>Filter</h1>

      <div class="well">

        <input type="text" ng-model="filter.inputText" class="form-control"/> 

        <h2>Filterované hodnoty</h2>
        <ul>
          <li>Normálně: {{filter.inputText}}</li>
          <li>Velkým:   {{filter.inputText}}</li>
          <li>Pospátku: {{filter.inputText}}</li>
          <li>Pospátku velkým a s prefixem: {{filter.inputText}}</li>
        </ul>
      </div>
    </div>

    <script src="/bower_components/angular/angular.js"></script>
    <script src="app.js"></script>
  </body>
</html>